{% assign grid_size = "s1 sm_s12 lg_s13" %}
{% case section.blocks.size %}
  {% when 1 %}
     {% assign grid_size = "s1 sm_s12 lg_s1" %}
  {% when 2 %}
     {% assign grid_size = "s1 sm_s12 lg_s12" %}
  {% when 3 %}
     {% assign grid_size = "s1 sm_s12 lg_s13" %}
  {% when 4 %}
     {% assign grid_size = "s1 sm_s12 lg_s14" %}
{% endcase %}
{% assign title = section.settings.product_title %}
{% assign description = section.settings.product_description %}
{% assign value_proposition = section.settings.value_proposition %}
-
<div class="subscription-page">
  <div class="subscription-page__container">

    {%- if section.settings.show_page_title -%}
      <section class="page-title container-wrap ">
        <div class="container">
          <div class="row row-lg inline u-center">
            <h1 class="subscription-page_mainTitle">HELLO ! {{ page.title }}</h1>
          </div>
        </div>
      </section>
    {%- endif -%}

    {% unless page.content %}
    <div class="container-wrap">
      <div class="container text-content rte">
        <div class="row row-sm">
          {{ page.content }}
        </div>
      </div>
    </div>
    {% endunless %}

    <div class="container">



        <div class="product-main flex-center">

          <div class="product-images flex-center-vertical">
              {% assign main_product = all_products[section.settings.main_product] %}


                <div class="carousel carousel-main" data-flickity='{ "pageDots": false  }' >
                  {% for image in main_product.images %}
                    <div class="carousel-cell" style="background: url({{ image | product_img_url: 'master'}})"></div>
                  {% endfor %}
                </div>

                <div class="carousel carousel-nav" data-flickity='{ "asNavFor": ".carousel-main", "wrapAround": true, "pageDots": false }' >
                  {% for image in main_product.images %}
                  <div class="carousel-cell">
                    <div class="carousel-image" style="background: url({{ image | product_img_url: 'master'}})"></div>
                  </div>
                  {% endfor %}
                </div>
          </div>

          <div class="product_description">


              <div class="description-block">
                  <h1 class="">{{ title }}</h1>

                <p>{{ value_proposition }}</p>
                <p>{{ description }}</p>
              </div>

              <div class="abonnement-part">
                <div class="abo-step">
                  <h2 class="">1. Choisissez votre abonnement</h2>
                </div>

                <div class="item-blocks flex-center">



                {% for block in section.blocks %}
                {% assign product = all_products[block.settings.product] %}
                {% assign section_images = ["value1"] %}
                {%- assign image = block.settings.picto -%}
                {%- assign title = block.settings.titleAbo -%}
                {%- assign contenu = block.settings.contenu -%}

                  <div class="abonnements-items flex-center-vertical text-center">

                    <h2> {{ title }} </h2>

                    <p class="frequency" style="width: 66%;"> {{ contenu }} </p>


                    <div class="product_img">

                      <img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">
                    </div>

                      {% form 'product', product, class:'productForm product-bar__form', data-color_swatches: color_swatches %}

                        <input type="hidden" class="inputCounter" name="quantity" value="1" />

                        <div class="productForm-block flex-center">
                          {% for variant in product.variants %}
                          <div class="btn_holder">
                             <button class=" js-productForm-submit" type="submit" name="checkout" data-handle="{{product.handle}}">{{ variant.price | money | strip_html }}</button>
                          </div>
                          {% endfor %}
                        </div>
                      {% endform %}
                  </div>
                  {% endfor %}
              </div>

              <div class="routine-products-part">
                <div class="abo-step">
                  <h2>2. Choisissez votre routine lessive !</h2>
                </div>

                <div class="routine-products flex-center">
                  {% assign product_routine_a = all_products[section.settings.product_routine_a] %}
                  {% assign product_routine_b = all_products[section.settings.product_routine_b] %}
                  {%- assign image_routine_a = section.settings.image_routine_a -%}
                  {%- assign image_routine_b = section.settings.image_routine_b -%}


                  <div class="routine-product flex-center-vertical text-center" id="doseur">
                    <h2> {{ product_routine_a.title }} </h2>

                    <div class="product_img">

                      <img src="{{ image_routine_a | img_url: '1024x' }}" alt="{{ image_routine_a.alt | escape }}">
                    </div>

                      {% form 'product', product_routine_a, class:'productForm product-bar__form', data-color_swatches: color_swatches %}
                        <div class="productForm-block no-show">
                          <select id="product-bar-select" name="id">
                          {% for variant in product_routine_a.variants %}
                            <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}" data-sku="{{variant.sku}}">
                            {{ variant.title }} - {{ variant.price | money | strip_html }}
                            </option>
                          {% endfor %}
                          </select>
                        </div>

                        <input type="hidden" class="inputCounter" name="quantity" value="1" />

                        <div class="productForm-block flex-center">
                             <button class="custom-form-button js-productForm-submit" type="submit" name="checkout" data-handle="{{product.handle}}">{{ product_routine_a.variants.first.price | money | strip_html }}</button>
                        </div>
                      {% endform %}

                  </div>

                  <div class="routine-product flex-center-vertical text-center" id="stick">
                    <h2> {{ product_routine_b.title }} </h2>

                    <div class="product_img">

                      <img src="{{ image_routine_b | img_url: '1024x' }}" alt="{{ image_routine_b.alt | escape }}">
                    </div>

                      {% form 'product', product_routine_b, class:'productForm product-bar__form', data-color_swatches: color_swatches %}
                        <div class="productForm-block no-show">
                          <select id="product-bar-select" name="id">
                          {% for variant in product_routine_b.variants %}
                            <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}" data-sku="{{variant.sku}}">
                            {{ variant.title }} - {{ variant.price | money | strip_html }}
                            </option>
                          {% endfor %}
                          </select>
                        </div>

                        <input type="hidden" class="inputCounter" name="quantity" value="1" />

                        <div class="productForm-block flex-center">
                             <button class="custom-form-button js-productForm-submit" type="submit" name="checkout" data-handle="{{product.handle}}">{{  product_routine_b.variants.first.price| money | strip_html }}</button>
                        </div>
                      {% endform %}

                  </div>


                </div>
              </div>

          </div>

          <div class="button" id="go-cart-btn" style="color: {{ section.settings.go_cart_btn_color }}; background-color: {{ section.settings.go_cart_btn_bg_color }} "><a href="https://www.lalchimiste.paris/cart">{{ section.settings.go_cart_btn }}</a></div>


        </div>

<script>
  $('.carousel').flickity({
    // options
    cellAlign: 'left',
    contain: true
  });

</script>

<script>
  $('.js-subscription').click(function(evt){
    evt.preventDefault();
    var shipping_interval_frequency = $(this).attr('data-interval-frequency'),
        shipping_interval_unit_type = $(this).attr('data-interval-type'),
        subscription_id = $(this).attr('data-subscription'),
        id = parseInt($(this).attr('data-id'));
    addItemToCart(id , 1, shipping_interval_frequency, shipping_interval_unit_type, subscription_id)
  })
</script>
<script>
  function addItemToCart (variant_id, quantity, shipping_interval_frequency, shipping_interval_unit_type, subscription_id) {
    data = {
      "quantity": quantity,
      "id": variant_id,
      "properties[shipping_interval_frequency]": shipping_interval_frequency,
      "properties[shipping_interval_unit_type]": shipping_interval_unit_type,
      "properties[subscription_id]": subscription_id
    }
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() {
        window.location.href = '/cart';
      }
    });
  }
</script>

{% schema %}
  {
    "name": "Les abonnements",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_page_title",
        "label": "Show page title",
        "default": false
      },
      {
      "type": "product",
      "id": "main_product",
      "label": "Choisir un produit pour les images"
      },
      {
        "type": "text",
        "id": "product_title",
        "label": "Titre"
      },
      {
        "type": "richtext",
        "id": "value_proposition",
        "label": "Proposition de valeur"
      },
      {
        "type": "richtext",
        "id": "product_description",
        "label": "Texte de description"
      },
      {
         "type": "product",
         "id": "product_routine_a",
        "label": "Choisir un produit de routine"
      },
      {
        "type": "image_picker",
        "id": "image_routine_a",
        "label": "choisir un picto pour le produit de routine"
      },
      {
         "type": "product",
         "id": "product_routine_b",
        "label": "Choisir un deuxième produit de routine"
      },
      {
        "type": "image_picker",
        "id": "image_routine_b",
        "label": "choisir un picto pour le produit de routine 2"
      },
      {
        "type": "text",
        "id": "go_cart_btn",
        "label": "Texte du bouton de validation"
      },
      {
        "type": "color",
        "id": "go_cart_btn_color",
        "label": "Couleur texte bouton",
        "default": "#fafafa"
      },
      {
        "type": "color",
        "id": "go_cart_btn_bg_color",
        "label": "Couleur du fond du bouton",
        "default": "#333"
      }

    ],
  "max_blocks": 4,
    "blocks": [
      {
        "type": "text",
        "name":"Texte",
        "settings": [
          {
            "type": "text",
            "id": "titleAbo",
            "label": "Titre"
          },
          {
            "type": "richtext",
            "id": "contenu",
            "label": "Contenu"
      },
          {
            "type": "product",
            "id": "product",
            "label": "Choisir un produit"
          },
            {
              "type": "image_picker",
              "id": "picto",
              "label": "choisir un picto"
            },
          {
             "type": "color",
             "id": "background_color",
             "label": "Fond de couleur"
          },
          {
             "type": "color",
             "id": "typo_color",
             "label": "Couleur de la police"
          }
    ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
